# Dependencies
node_modules/

# Build outputs
dist/

# Environment files
.env

# IDE files
.vscode/


# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Generated Prisma Client
/generated/prisma

# SQLite database file
db/dev.db
